<%- include ../partials/header.ejs %>
<!--  -->
<%- include ../partials/navbar.ejs %>
<!--  -->
<%- include ../partials/sidebar.ejs %>
<!--  -->
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <h2 class="text-center display-4">PG0001</h2>
          <form action="/charts" method="POST">
            <div class="row mt-4">
              <div class="col-md-10 offset-md-1">
                <div class="row" style="justify-content: center">
                  <div class="col-6">
                    <!-- Date -->
                    <form action="/" method="POST">
                      <div class="form-group">
                        <div
                          class="input-group date"
                          id="reservationdate"
                          data-target-input="nearest">
                          <input
                            id="input_date"
                            type="text"
                            class="form-control datetimepicker-input"
                            data-target="#reservationdate"
                            name="setDate"
                            value=""
                            placeholder="<%= date %>" />

                          <div
                            class="input-group-append"
                            data-target="#reservationdate"
                            data-toggle="datetimepicker">
                            <div class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                          <div class="ml-3">
                            <button
                              id="btn_date"
                              type="button"
                              class="btn btn-secondary">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <!-- BAR CHART FIELD -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">FIELD</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="barChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

              <!-- BAR CHART FIELD VOLTAGE BEFORE TRAFO-->
              <div class="card card-primary">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">VOLTAGE BEFORE TRAFO</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="voltBeforeTrafoChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- LINE CHART  VOLTAGE AFTER TRAFO-->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">VOLTAGE AFTER TRAFO</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="voltAfterTrafoChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col (RIGHT) -->
            <div class="col-md-6">
              <!-- LINE CHART LOAD AMP-->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">LOAD AMP</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="loadAmpChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART POWER FACTOR -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">POWER FACTOR</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="powerfactorChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART LOAD MW -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">LOAD MW</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="loadmwChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-md-6">
              <!-- BAR CHART M VAR -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">M VAR</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="mvarChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART RECT. TRAFO LIQUID TEMP. -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">RECT. TRAFO LIQUID TEMP.</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="rectTrafoTempChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- LINE CHART  GEN TRAFO-->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">VISUAL CHECK</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="visualCheckChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-md-6">
              <!-- LINE CHART  GEN TRAFO-->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">GEN TRAFO</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="genTrafoChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART KW HOURS -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">KW HOURS</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="kwHoursChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART TURBINE SPEED -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">TURBINE SPEED</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="turbineSpeedChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- BAR CHART VCE -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">VCE</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="VCEChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART GASFLOW -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">GAS FLOW</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="gasFlowChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- BAR CHART LUBE OIL TANK TEMP -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">LUBE OIL TANK TEMP</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="lubeoilTankTempChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-md-6">
              <!-- BAR CHART DSP -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">DSP</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="DSPChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

              <!-- LINE CHART LUBE OIL TEMPERATURE ( °C )-->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">LUBE OIL TEMPERATURE ( °C )</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="lubeOilTempChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

              <!-- BAR CHART LUBE OIL TANK TEMP -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">LUBE OIL BEARING TEMP</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="lubeoilBearingTempChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-md-6">
              <!-- BAR CHART LUBE OIL TANK TEMP -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">HYD. TRIP CIRCUIT PRESS</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="hydTripCircuitPressChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- LINE CHART LUBE OIL PRESS-->
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">LUBE OIL PRESS</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="lubeOilPressChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-md-6">
              <!-- BAR CHART LUBE OIL TANK TEMP -->
              <div class="card card-success">
                <div
                  class="card-header"
                  style="display: flex; justify-content: center">
                  <h3 class="card-title">HYD. OIL PRESS (FOR 63HQ)</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas
                      id="hydOilPressChart"
                      style="
                        min-height: 250px;
                        height: 250px;
                        max-height: 250px;
                        max-width: 100%;
                      "></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </div>
</body>
<!--  -->
<%- include ../partials/footer.ejs %>
<!--  -->
<%- include ../partials/js.ejs %>
<!--  -->
<%- include ./js_date.ejs %>

<!-- <script src="/charts/valueChart.js">
  console.log("value query", "<%= query %>");
</script> -->

<script>
  let getDate = document
    .getElementById("btn_date")
    .addEventListener("click", async function () {
      let inputElement = document.getElementById("input_date");
      let inputValue = inputElement.value;
      window.location.href = `?date=${inputValue}`;
    });
</script>
