<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style-doc.css" />
  </head>
  <body>
    <div>
      <!--  -->
      <!--  -->
      <!-- <div style="width:297mm; height:210mm" ></div> -->
      <%- include ./sheet1.ejs %>
      <!--  -->
      <div style="page-break-after: always"></div>
      <!--  -->
      <%- include ./sheet2.ejs %>
      <!--  -->
      <div style="page-break-after: always"></div>
      <!--  -->
      <%- include ./sheet3.ejs %>
      <!--  -->
      <div style="page-break-after: always"></div>
      <!--  -->
      <%- include ./sheet4.ejs %>
      <!--  -->
      <div style="page-break-after: always"></div>
      <!--  -->
      <%- include ./sheet5.ejs %>
      <!--  -->
      <div style="page-break-after: always"></div>
      <!--  -->
      <!--  -->
    </div>
  </body>
</html>
